.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 30px;
    margin: 30px;
    font-size: 30px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav :hover {
    color: rgb(212, 183, 139);
}

h1 {
    text-align: center;
    padding: 25px;
    margin: 40px;
    font-size: 35px;
    color: rgb(139, 119, 89);
}

p {
    text-align: center;
    padding: 25px;
    margin: 40px;
    font-size: 25px;
    background-color: rgb(139, 119, 89, 0.5);
}

p a {
    text-decoration: none;
    color: black;
}

p :hover {
    color: rgb(212, 183, 139);
}

.background {
    background: url(naturebg.jpg) no-repeat center center fixed;
    background-size: cover;
}